{% extends 'ad/index.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block ann_body%}
  
           <h2>Accueil</h2> 
           <h4>Vous trouvez ici toutes les annonces</h4>
          {{ include("ad/article.html.twig") }}
       

      
{% endblock %}